#beam {
    height: 250px;
    width: 15px;
    border: 5px solid black;
    background-color: black;
}

#cross-beam {
    position: relative;
    top: -5px;
    height: 10px;
    width: 100px;
    border: 5px solid black;
    background-color: black;
}

#rope {
    position: relative;
    left: 95px;
    top: -10px;
    height: 40px;
    width: 5px;
    border: 5px solid black;
    background-color: black;
}

.guess {
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    margin: 5px;
    padding: 5px;
}

#head {
    display: none;
    position: relative;
    top: -12px;
    left: 70px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 5px solid black;
}

#back {
    display: none;
    position: relative;
    left: 100px;
    top: -13px;
    height: 80px;
    width: 3px;
    border: 3px solid black;
    background-color: black;
}

#left-arm {
    display: none;
    position: relative;
    left: 83px;
    top: -95px;
    transform: rotate(-45deg);
    height: 50px;
    width: 3px;
    border: 1px solid black;
    background-color: black;
}

#right-arm {
    display: none;
    position: relative;
    left: 70px;
    top: -95px;
    transform: translate(50px, -50px) rotate(45deg);
    height: 50px;
    width: 3px;
    border: 1px solid black;
    background-color: black;
}

#left-leg {
    display: none;
    position: relative;
    left: 80px;
    top: -130px;
    transform: rotate(45deg);
    height: 55px;
    width: 3px;
    border: 1px solid black;
    background-color: black;
}

#right-leg {
    display: none;
    position: relative;
    left: 75px;
    top: -136px;
    transform: translate(50px, -50px) rotate(-45deg);
    height: 55px;
    width: 3px;
    border: 1px solid black;
    background-color: black;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
    padding: 10px;
    width: 8%;
    float: left;
    background-color: rgb(95, 95, 99);
    color: white;
    margin: 5px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 0 #a5a5a5, 0 2px 5px rgba(0, 0, 0, 0.75);
    text-align: center;
}

ul li:active {
    position: relative;
    top: 5px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);

}